@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Dots&display=swap');
*{
   padding: 0;
   margin: 0;
}
body{
   background: whitesmoke;
   font-family: 'Montserrat', sans-serif;;
}
.img_bg{background-image: url(/assets/img/portada.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 420px;
   background-position: center;
}
.icono{
   width: 40px;
}
.boton_estilo{
   /*border: 2px solid;
   border-radius: 14px ;*/
   color: aliceblue;
   background-color: orangered;
}
.boton_estilo:hover{
   background-color: orangered;
   color: black;
   
}

h1{
   font-family:'Zen Dots', cursive;
   font-size: 7rem;
   /*color:#FD3F00;*/
   color: orangered;
   text-shadow: 3px 3px 2px black;}
   
   /*CARDS*/
.icono_carrito
{
   width: 33px;
}
.card{
   box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.4);
}
/*FOOTER*/
.logos_redes{
   width: 50px;
}
.logos_redes:hover{
background-color: orangered;

border-radius: 14px;

}
.bg_copy{
   background-color: orangered;
   font-weight: bold;
}
   


